{{!-- 
Citations:
Date: 11/25/2024
Structure of peoplebattles.hbs code is from Step 4.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
--}}

{{!-- 
Citations:
Date: 11/25/2024
Dynamically populated data for peoplebattles.hbs adapted from Step 6.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
 --}}

{{!-- 
Citations:
Date: 11/25/2024
Dynamically updating and deleting data for peoplebattles.hbs adapted from Steps 7 and 8.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
 --}}

<script language = "JavaScript">
    function newPeopleBattle() { showform('insert'); }

    function updatePeopleBattles(peoplebattles) {
        // Fills in form with data from selected row
        document.getElementById("peopleBattleIDUpdate").value = peoplebattles.peopleBattleID;
        document.getElementById("peopleIDUpdate").value = peoplebattles.peopleID;
        document.getElementById("battleIDUpdate").value = peoplebattles.battleID;
        document.getElementById("battleResultUpdate").value = peoplebattles.battleResult;

        showform('update'); }

    function showAll() { showform ('all'); }
    function browsePeopleBattle() { showform ('browse'); }
</script>


<main>{{!-- Create a table --}}
    <section>  
        <h2>Player Battles</h2>
        <article id = "peoplebattles">
            <p id = "center">
                Battles that people have been in. 
            </p>
            
            {{!-- Search function --}}
            <form id="search-peoplebattles-html" method='GET' action='/peoplebattles' class="center-Margin">
                <input type="text" name="peopleBattlesSearch" id="peopleBattlesSearch" placeholder="Search the table:">
                <input type="submit">
                <a href='/peoplebattles'><button>Reset</button></a>
            </form>

            <div id="browse">
                <p id = "center">
                    <a href="#" class="new-entry" onClick="newPeopleBattle()">Add Players to a Battle</a>
                </p>
                
                <table border="1" cellpadding="5" id="people-battles-table" class="center-Margin">
                    {{!-- Header section --}}
                    <thead>
                            <th>Battle ID</th>
                            <th>Battle Date</th>
                            <th>Player Name</th>
                            <th>Battle Result</th>
                            <th>Edit Entry</th>
                            <th>Delete Entry</th>
                        </tr>
                    </thead>

                    {{!-- Body section --}}
                    <tbody>
                        {{!-- For each row, print each attribute --}}
                        {{#each data}}
                        <tr data-value="{{this.peopleBattleID}}">
                            <td>{{this.battleID}}</td>
                            <td>{{this.battleDate}}</td>
                            <td>{{this.peopleName}}</td>
                            <td>{{this.battleResult}}</td>
                            <td><button onclick="updatePeopleBattles({peopleBattleID: {{this.peopleBattleID}}, peopleID: {{this.peopleID}}, battleID: {{this.battleID}}, battleResult: '{{this.battleResult}}'})">Edit</button></td>
                            <td><button onclick="deletePeopleBattles({{this.peopleBattleID}})">Delete</button></td>
                        </tr>
                        {{/each}}
                    </tbody> 
                </table>
                <script src="./js/deletePeopleBattles.js"></script>
            </div>

            {{!-- Form to add a record to the table  --}}
            <div id="insert" style="display: none">
                {{!-- <legend><strong>Add Player Battle</strong></legend> --}}
                <p id = "center">To add a new player battle, please enter its information below and click 'Submit'!</p>
                <form id="addPeopleBattles" method="POST" action="/addPeopleBattles" class="center-Margin">
                    <fieldset class="fields">
                        <label>Person Name: </label>
                            <!-- Dynamic Dropdown for People Name --> 
                            <select name="peopleID" id="peopleIDInsert" style="margin-bottom: 10px">
                                <option value=""></option>
                                {{#each People}}
                                <option value="{{this.peopleID}}">{{this.peopleName}}</option>
                                {{/each}}
                            </select>
                        <br>

                        <label>* Battle Date: </label> 
                            <!-- Dynamic Dropdown for Battle Date --> 
                            <select name="battleID" id="battleIDInsert" style="margin-bottom: 10px" required>
                                <option value="" disabled selected></option>
                                {{#each Battles}}
                                <option value="{{this.battleID}}">{{this.battleDate}}</option> <!-- submit battleID -->
                                {{/each}}
                            </select>           
                        <br>

                        <label>* Battle Result: </label> 
                            <select name="battleResult" id="battleResultInsert" style="margin-bottom: 10px" required>
                            <option value="" disabled selected></option>
                            <option value="Won">Won</option>
                            <option value="Lost">Lost</option>
                            </select>
                    </fieldset>

                    <p id="center">
                        <a href="/peoplebattles" class="cancel-button">Cancel</a>
                        <input type="submit">
                    </p>
                </form>
            </div>

            {{!-- Form to update a record on the table  --}}
            <div id="update" style="display: none">
                {{!-- <legend><strong>Update Player Battle</strong></legend> --}}
                <p id="center">Update a Player Battle entry. </p>
                <form id="updatePeopleBattles" method="POST" action="/updatePeopleBattles" class="center-Margin">
                    <input type="hidden" name="peopleBattleID" id="peopleBattleIDUpdate"> 
                    <fieldset class="fields">
                        <!-- Dynamic Dropdown for People Name -->
                        <label>Person Name:</label>
                        <select name="peopleID" id="peopleIDUpdate" style="margin-bottom: 10px">
                            <option value="">Select a Person</option>
                            {{#each People}}
                            <option value="{{this.peopleID}}">{{this.peopleName}}</option>
                            {{/each}}
                        </select>
                        <br>

                        <!-- Dynamic Dropdown for Battle Date -->
                        <label>* Battle Date:</label>
                        <select name="battleID" id="battleIDUpdate" style="margin-bottom: 10px" required>
                            <option value="">Select a Battle Date</option>
                            {{#each Battles}}
                            <option value="{{this.battleID}}">{{this.battleDate}}</option>
                            {{/each}}
                        </select>
                        <br>

                        <!-- battle result dropdown -->
                        <label>* Battle Result:</label>
                        <select name="battleResult" id="battleResultUpdate" style="margin-bottom: 10px" required>
                            <option value="Won">Won</option>
                            <option value="Lost">Lost</option>
                        </select>
                        <br>
                    </fieldset>

                    <p id="center">
                        <a href="/peoplebattles" class="cancel-button">Cancel</a>
                        <input type="submit">
                    </p>
                </form>
            </div>
        </article>
    </section>
</main>